@use 'variables' as v;
/*Media queries*/
@mixin phone{
    @media (max-width: v.$phone){
        @content;
    }
}
@mixin tablet{
    @media (max-width: v.$tablet){
        @content;
    }
}
@mixin desktop{
    @media (max-width: v.$desktop){
        @content;
    }
}
@mixin grid($columnns, $espaces){
    display: grid;
    gap: $espaces;
    grid-template-columns: repeat($columnns, 40% 60%);
}