//Fuentes
$fontMajor: 'Poppins', sans-serif;

//Tamaño de Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;

//colores

$blue: #0da6f3;
$red: #cb0000;
$green:#329f00;
$negro: #080808;
$grisBlack: #333333;
$grisFolder: #777777;
$grisInput: #D5D5D5;
$white: #FFFFFF;
$redTurques: #C14A4A;
$redHover:#e34b4b;


$gap: 5rem;


//fuentes
$slim: 300;
$regular : 400;
$bold: 700;
$black: 900
